**/.classpath
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/obj
**/charts
**/docker-compose*
**/node_modules
**/npm-debug.log
**/README.md
**/_ReSharper.Caches/
**/secrets
generated